<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <style>
        body {
            background: rgb(249,39,42);
            background: linear-gradient(149deg, rgba(249,39,42,1) 0%, rgba(215,211,202,1) 100%);
        }
        .btn-add {
            background-color: #d81f1d;
            font-weight: 700;
            color: white;
        }

        .btn-add:hover {
            background-color: white;
        }

        .hero-text{
            text-shadow: 3px 3px 14px rgba(0, 0, 0, 1);
        }


        h3 {
            text-shadow: 3px 3px 14px rgba(150, 150, 150, 0.5);
            font-weight: 700;
        }

        form {
            color: white;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .offer-info {
                background-color: #ffffff;
                width: 90%;
                margin: 0 auto;
            }

        .card-img-top {
                margin: 0 auto;
                height: 25rem; 
                object-fit:contain;
                
            }
        </style>
    </head>
    <body>
           <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand text-danger" href="/">EventGuru</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>