{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<h1 class="page-header text-white text-center mt-3">Add Event</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
</div>
{% endblock %}